/target
.deps/
watchdog/third_party/lua-curl/*
!watchdog/third_party/lua-curl/UPSTREAM
watchdog-e2e-*/
.env
.env.fish
sequencer.db
sequencer.db-shm
sequencer.db-wal
/out/
examples/canonical-app/out/
/.DS_Store
.vscode/
soljson-latest.js
**/states/
__pycache__/
/benchmarks/
