name: CI

on:
  push:
  pull_request:

jobs:
  rust:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - name: Cache Rust artifacts
        uses: Swatinem/rust-cache@v2

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.4.3

      - name: Check
        run: cargo check --workspace --all-targets --locked

      - name: Build
        run: cargo build --workspace --all-targets --locked

      - name: Format
        run: cargo fmt --all -- --check

      - name: Test
        run: cargo test --workspace --all-targets --all-features --locked
